#profile_section {
  width: 300px;
  margin: auto;
  padding: 30px;
  border: solid 1px;
  background-color: lightblue;
}

#profile_description {
  margin: 60px 60px;
}

#profile_image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 1px;
}

#header {
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 70px;
}

p {
  font-size: 23px;
}
